.content-wrapper {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.sidebar-wrapper {
  min-width: 20%;
}

.document-wrapper {
  margin-block: 10px;
  margin-inline: 200px;
  border: 1px solid black;
}

.react-pdf__Page__canvas {
  margin: auto;
  border: 1px solid black;
}
